# Ficheros y carpetas de construcción de Hugo
/public/
/resources/

# Ficheros de sistema operativo
.DS_Store
Thumbs.db

# Ignorar app weather local (solo para debug)
/static/apps/weather/

# Ignorar carpetas de repositorios clonados localmente
/github.io/
/temp_app_weather/